/* HTMLコード

<div id="menu">
    <label id="menu-btn">
        <div></div>
        <div></div>
        <div></div>
    </label>
    <div id="menu-items">
        <div id="close-btn">X</div>
        <ul>
            <li>
              <a href="#"></a>
            </li>
        </ul>
    </div>
</div>

*/
/* menu-btn */
#menu{
  position: fixed;
  top: 80px;
  right: 2px;
  display: flex;
  justify-content: flex-end;
}
#menu-btn{
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  width: 40px;
  height: 40px;
  background-color: #fff;
}
#menu-btn div{
  width: 40px;
  height: 12px;
  background-color: #3f103f;
  margin-bottom: 2px;
}
#menu-btn span:last-child{
  margin-bottom: 0;
}
#menu-items{
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
  font-size: 2rem;
  line-height: 2;
  padding: 120px 16px 16px;
  background-color: rgba(63, 16, 63, 0.8);
  overflow-y: auto;
  display: none;
}
#menu-items a{
  text-decoration: none;
  color: #fff;
}
#close-btn{
  position: fixed;
  top: 82px;
  right: 2px;
  width: 40px;
  height: 40px;
  font-size: 3rem;
  text-align: center;
  line-height: 40px;
  background-color: black;
  color: white;
}
@media (min-width: 1024px) {
  #menu-items{
      top: 80px;
      width: 300px;
      height: calc(100vh - 80px);
  }
}
